.result-row{
	border: 1px solid #eee;
	margin: 1em 0;
}
.result-row > div{
	padding-top: 1em;
	padding-bottom: 0.5em;
}
/*.result-row .price h3{*/
	/*padding-top: 0.3em;*/
/*}*/
/*.book-now button {*/
	/*margin-top: 0.3em;*/
/*}*/
.book-now button .details {
	padding-top: 1.5em;
}
.sidebar {
	position: absolute;
	top: 0;
}
.home {
	min-height:600px;
}
button.submit {
	cursor: pointer;
}
.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

#login-box {
	width: 300px;
	padding: 20px;
	margin: 100px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}
button {
	cursor: pointer;
}
.btn {
	cursor: pointer;
}